body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card-img-top {
  width: 322px;
  height: 445px;
}

.card-img-top {
  width: 340px;
  height: 445px;
}

.small-movieCard{
  margin-right: -10px;
  margin-left: -10px;
}
.movieCard{
  margin-right: -30px;
  margin-left: -30px;
}

.hello{
  width: 50%;
  float:left;
}
